@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
  /*display: none;*/
}

::-webkit-scrollbar-thumb {
  background: #cc3c3c;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #263238;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4c4c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 1000px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  z-index: 1000;
  transition: 0.3s;
}

header.sticky {
  padding: 5px 80px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .logo img {
  position: relative;
  width: 80px;
  height: auto;
  transition: 0.6s;
}

header .navigation {
  display: flex;
  position: absolute;
  right: 250px;
}

header .navigation li {
  list-style: none;
  margin: 0 10px;
}

header .navigation li a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  font-weight: 300;
  transition: 0.6s;
}

header.sticky .navigation li a {
  color: #000;
}

header .navigation li a.active,
header .navigation li a:hover {
  color: #304ffe;
  font-weight: bold;
}

header .lang_wrap {
  background: transparent;
  display: flex;
  transition: 0.6s;
  position: absolute;
  right: 0px;
  padding: 20px 80px;
}

header .lang_wrap a:hover {
  background: #cccccc80;
  border-radius: 8px;
  cursor: pointer;
}

header .lang_wrap a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
  background: #cccccc40;
  font-size: 14px;
  margin: 2px;
  padding: 4px;
  width: 55px;
  text-align: center;
  border-radius: 8px;
}

header .lang_wrap a.active_lang {
  background: #304ffe;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
}

/*••••••••••••••••••••     Sections     ••••••••••••••••••••*/

.banner {
  width: 100%;
  min-height: 100vh;
  background-image: url(images/bg_main.png);
  background-size: cover;
  /* LENGTH */
  padding-top: 150px;
  /*GRID*/
  display: flex;
}


.banner h1 {
  /* LENGTH */
  width: max(100%, 375px);
  padding-left: 50px;
  /*TEXT*/
  font-size: 1.1rem;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: bold;
  /* DECORATION */
  transition: 0.2s font-size;
}
.banner span {
  /*TEXT*/
  color: #4978ff;
}

@media (width > 600px) {
  .banner h1 {
    /* TEXT */
    font-size: clamp(1.3rem, 1.034rem + 0.71vw, 1.7rem);
  }
  .banner > p {
    /* TEXT */
    font-size: clamp(0.9rem, 0.6rem + 0.81vw, 1.1rem);
  }
}
.title_2 {
  /*GRID*/
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
}

.sec {
  background: #fff;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec .content {
  position: relative;
  text-align: center;
  width: 100%;
}

.mxw800p {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}

p {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: #000;
  border: 1px black solid;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
}

.btn:hover {
  background: #fff;
  color: #000;
  transition: 0.3s;
}

.services {
  position: relative;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.services .box {
  width: 350px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 30px;
}

.services .box .iconBx {
  margin-top: 25px;
}

.services .box .iconBx img {
  max-width: 70px;
  margin-bottom: 15px;
}

.services .box h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.stats {
  background: #000;
  padding-top: 350px;
  margin-top: -400px;
}

.stats h3,
.stats p {
  color: #fff;
}

.statsBox {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 100%;
  margin-top: 40px;
}

.statsBox h2 {
  color: #fff;
  font-size: 36px;
}

.statsBox h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.brand-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.workBx {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  width: 100%;
  max-width: 100%;
  margin-top: 40px;
}

.workBx .brand {
  position: relative;
  background: #4978ff;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.workBx .brand:first-child {
  background-color: #00c853;
}

.workBx .brand:hover {
  background: #000;
}

.workBx .brand a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.workBx .brand:hover a {
  color: rgba(255, 255, 255, 1);
}

button {
  display: inline-block;
  width: 50px;
  margin: 1px;
  text-indent: 999px;
  cursor: pointer;
  background-color: #000;
  background-color: rgba(53, 48, 48, 0.39);
  border: 1px solid rgba(87, 84, 84, 0.247);
  border-radius: 50px;
  float: none;
}

/*SWIPPER*/

.swiper-pagination-bullet {
  background: gray;
}

.swiper-pagination-bullet-active {
  background-color: blue;
}

.w3-red {
  background-color: #304ffe;
}

.w3-section {
  box-sizing: border-box;
  display: block;
}

.w3-center {
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  text-align: center;
}

.teamBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.teamBx .member {
  position: relative;
  background: #000;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.teamBx .member .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.teamBx .member .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.teamBx .member .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  transition: 0.2s;
  opacity: 0;
  border-radius: 10px;
}

.teamBx .member .details:hover {
  -ms-transform-origin-z: 5px;
}

.teamBx .member:hover .details {
  opacity: 1;
  border-radius: 10px;
}

.teamBx .member .details h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.teamBx .member .details h2 span {
  display: block;
  font-size: 12px;
  font-weight: 300;
}

.contentForm {
  position: relative;
  text-align: center;
  width: 1000px;
}

.contact {
  background: linear-gradient(-45deg, #ee7752, #ca870b9c, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
  border-radius: 50px;
  min-height: 80vh;
  margin: 20px;
}

.contactForm {
  position: relative;
  display: grid;
}

.contact h3,
.contact p {
  color: #fff;
}

.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  text-align: left;
  padding-left: 15px;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 0px solid #fff;
  background: #ffffff40;
  border-radius: 10px;
}

.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 0px solid #fff;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
  background: #ffffff40;
  border-radius: 10px;
  resize: vertical;
}

.inputBox input[type="submit"] {
  background: #00c853;
  color: #fff;
  border: none;
  font-size: 1.1em;
  width: 200px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  border-radius: 10px;
}

.inputBox input:hover[type="submit"] {
  background: #64dd17;
}

.inputBox ::placeholder {
  color: #999;
}

/*FOOTER*/

.footer {
  background: black;
  text-align: center;
}
.footer .share {
  padding: 1rem 0;
}
.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: white;
  border: gray;
  margin: 0.3rem;
  border-radius: 50%;
}
.footer .share a:hover {
  background-color: blue;
}
.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}
.footer .links a {
  padding: 0.7rem 2rem;
  color: white;
  border: gray;
  font-size: 2rem;
}
.footer .links a:hover {
  background: blue;
}
.footer .credit {
  font-size: 2rem;
  color: white;
  font-weight: lighter;
  padding: 1.5rem;
}
.footer .credit span {
  color: varblue;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1100px) {
  header .lang_wrap {
    right: 30px;
  }

  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .toggle:before {
    content: "";
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    box-shadow: 0 10px 0 #000;
    transition: 0.5s;
  }

  .toggle:after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    transition: 0.5s;
  }

  header,
  header.sticky {
    padding: 5px 50px;
    background: #fff;
  }

  header ul {
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    background: #fff;
    visibility: hidden;
    opacity: 0;
  }

  header.active ul {
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 20px;
  }

  header.active ul li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 30px;
  }

  header ul li a {
    color: #000;
  }

  .banner {
    background-position: center;
  }

  .sec {
    padding: 100px 50px 50px 50px;
  }

  .services .box {
    width: 100%;
  }

  .stats {
    padding-top: 350px;
  }

  h3 {
    font-size: 36px;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 750px) {
  .contactForm .row100 {
    flex-direction: column;
  }

  .contactForm .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .contactForm .inputBox {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .services {
    display: grid;
  }

  .stats {
    margin-top: 0;
    padding-top: 100px;
  }

  #services .box {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
  }

  #stats .box {
    /*BORDER*/
    border: 1px solid;
    /*LENGHT*/
    padding: 10px;
    /*SHADOW*/
    box-shadow: 0px 3px 15px 3px #e67a7a99;
  }
}
