@use "bootstrap";

//SECTION: ABOUT
#about {
  /// POSITION & DISPLAY

  h2 {
    text-align: center;
    }

  main {
    ////FLEX
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      ////POSITION
      margin-inline: none;
      text-align: left;
    }
  }



  ///LENGTH AND STYLES

  width: 80%;
  margin-inline: auto;

  h2 {
    ////LENGHT
    padding-bottom: 20px;
    ////TEXT
    font-size: var(--font-size-large);

    @media (width > 1095px) {
      h2 {
        font-size: clamp(1.2rem, 1.02rem + 0.48vw, 1.6rem);
      }
    }
  }

  p {
    ////LENGHT
    font-size: var(--font-size-tiny);
  }
}