@mixin colors-test {
  --test-color: hsl(213, 100%, 50%);
  --test-color: hsl(24, 100%, 63%);
  --test-color: #bd0890;
}

@mixin common {
  --txt-dark: var(--black);
  --txt-grey-dark: 0 0% 30%;
  --txt-grey: 0 0% 50%;
  --txt-grey-light: 0 0% 80%;
  --txt-light: var(--white);
  --txt-accent: var(--blue-dark);
}


@mixin colors {
  --main-color: 218;
  // base colors
  --black: 0 0% 8%;
  --blackish: 210 3% 15%;
  --grey: 0 0% 70%;
  --whitish: 0 0% 94%;
  --white: 0 0% 100%;
  // blues
  --blue-dark: var(--main-color) 50% 40%;
  --blue: var(--main-color) 100% 63%;
  --bluish: var(--main-color) 61% 50%;
  // reds
  --red: 0 100% 50%;
  // greens
  --green: 106 100% 63%;
  // browns
  --brown: 30 100% 32%;
  // orange
  --orange: 24 100% 63%;
  // orange
  --yellow-dark: 55 100% 43%;
}

@mixin color-theme {
  //  Theme colors
  --background: var(--whitish);
  --mid-ground: var(--txt-grey-dark);
  --foreground: var(--black);
  --accent: var(--blue-dark);

  --card-background: var(--white);
  --card-foreground: var(--whitish);
  --card-accent: var(--accent);
  --card-shadow: var(--grey);

  --btn-background: var(--grey);
  --btn-secondary : var(--blue);
  --btn-accent: var(--accent);
  --btn-shadow: var(--grey);

  --facebook: 221, 44%, 41%;
  --linkedin: 201, 100%, 35%;
  --dribbble: 337, 79%, 61%;
}

