@use "bootstrap";
//  LAYOUT

// SECTION: CONTACT

#contact {
  ///COLOR 
  background: linear-gradient(-45deg, #23a6d5, #257997, #147cdf, #485dcf);

  label {
    >* {
      color: hsl(var(--whitish));
    }
  }

  input,
  select,
  textarea {
    border: 1px solid hsl(var(--main-bg));
    background-color: hsl(var(--secondary-bg) / 0.062);
  }

  button {
    background-color: hsl(var(--secondary-bg) / 0.2);
    color: hsl(var(--txt-light));
    border: 1px solid hsl(var(--main-bg));

    &:hover {
      background-color: hsl(var(--accent-bg));
    }
  }

  header {
    h2 {
      color: hsl(var(--txt-light));
    }

    p {
      color: hsl(var(--txt-light));
    }
  }


  /// POSITION & DISPLAY  


  ////FLEX
  display: flex;
  justify-content: center;
  align-items: center;

  .column p {
    cursor: pointer;
  }


  input,
  select,
  textarea {
    ////TEXT
    @include bootstrap.p_small;
    font-size: .8rem;
    ////DECORATION
    resize: vertical;
    border-radius: 8px;
  }

  button {
    ////DECORATION
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }


  .container {
    ////DECORATION
    border-radius: 5px;
  }

  header {
    ////TEXT
    text-align: center;
    text-transform: uppercase;

    h2 {
      ////TEXT
      font-size: 2rem;
    }
  }

  .column {
    ////POSITION
    float: left;
    ////LENGHT
    margin-top: 6px;
    padding: 20px;

    >div {
      ////LENGHT
      display: flex;
      flex-direction: column;
      column-gap: 10px;
    }
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (width < 600px) {
    padding-inline: 5%;

    .column,
    input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


  @media (width > 1080px) {
    .column>div {
      flex-direction: row;
    }

  }

  /// LENGHT AND STYLE


  ////LENGHT
  width: auto;
  height: auto;
  max-width: none;
  margin: 20px;
  ////DECORATION
  background-size: auto;
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  border-radius: 50px;

  >p {
    ////TEXT
    font-weight: bold;
  }


  input,
  select,
  textarea {
    ////LENGHT
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  button {
    ////LENGHT
    padding: 15px 25px;
  }

  .container {
    ////LENGHT
    padding: 10px;
  }

  textarea {
    ////LENGHT
    min-height: 140px;
  }
}