//TODO: 
//[x] Create max of 5 font sizes
//[] Remove all font weights 
//[] Add font sizes for width bigger than 600px, 800px, 1000px, 1200px

@mixin font-sizes {
  --font-size-tiny: 12px;
  --font-size-small: 14px;
  --font-size-medium: 18px;
  --font-size-large: 20px;
  --font-size-huge: 24px;

  @media (width > 700px) {
    --font-size-tiny: 14px;
    --font-size-small: 18px;
    --font-size-medium: 22px;
    --font-size-large: 24px;
    --font-size-huge: 32px;
  }
}