@mixin h1 {
  font-size: 1.8rem;
  font-weight: bold;

  @media (width > 600px) {
    font-size: clamp(1.9rem, 1.63rem + 0.73vw, 2.5rem);

  }
}

@mixin h2 {
  font-size: 1.5rem;
  font-weight: bold;

  @media (width > 600px) {

    font-size: clamp(1.6rem, 1.33rem + 0.73vw, 2.2rem);
  }
}


@mixin h3 {
  font-size: 1.3rem;
  font-weight: bold;

  @media (width > 600px) {
    font-size: clamp(1.4rem, 1.13rem + 0.73vw, 2rem);
  }
}

@mixin h4 {
  font-size: 1rem;
  font-weight: bold;

  @media (width > 600px) {
    font-size: clamp(1.1rem, 0.83rem + 0.73vw, 1.7rem);
  }
}

@mixin h5 {
  font-size: 0.83rem;
  font-weight: bold;

  @media (width > 600px) {
    font-size: clamp(0.93rem, 0.61rem + 0.85vw, 1.63rem);
  }
}

@mixin p_large {
  font-size: 1.3rem;

  @media (width > 600px) {

    font-size: clamp(1.4rem, 1.13rem + 0.73vw, 2rem);
  }
}

@mixin p_medium {
  font-size: 1rem;

  @media (width > 600px) {
    font-size: clamp(1.1rem, 0.83rem + 0.73vw, 1.7rem);
  }
}

@mixin p_small {
  font-size: 0.83rem;

  @media (width > 600px) {
    font-size: clamp(0.93rem, 0.61rem + 0.85vw, 1.63rem);
  }
}

@mixin p_tiny {
  font-size: 0.6rem;

  @media (width > 600px) {
    font-size: clamp(0.7rem, .4rem + 0.85vw, 1.3rem);
  }
}