@use "bootstrap";
//  LAYOUT

//SECTION: HEADER
//// POSITIONING AND STYLES
.header {
  //  LENGTH
  height: 100vh;
  height: 100dvh;
  padding-top: 150px;
  min-height: 700px;
}

footer.footer {
  background-color: hsl(var(--secondary-bg));
}



//SECTION: ABOUT
/// POSITIONING AND STYLES
#about {
  width: 80%;
  margin-inline: auto;


  h2 {
    text-align: center;
    padding-bottom: 20px;
    @include bootstrap.h2;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      text-align: left;
      @include bootstrap.p_small;
    }
  }

  @media (width > 1095px) {
    h2 {
      font-size: clamp(1.2rem, 1.02rem + 0.48vw, 1.6rem);
    }

    p {
      font-size: clamp(0.8rem, 0.71rem + 0.24vw, 1rem);
    }
  }
}

//SECTION: SERVICES
///  COLORS
#services {
  .card {
    background-color: hsl(var(--white));
  }
}

/// POSITIONING AND STYLES
#services {
  display: flex;
  flex-direction: column;
  gap: 30px;
  //  LENGTH
  margin: auto;
  margin-bottom: 40px;

  h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-inline: 10px;
  }

  p {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }


  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 15px;
    //  LENGTH
    width: 80%;
    padding: 10px 20px;
    //  DECORATION
    border-radius: 30px;
    box-shadow: 5px 5px 0px hsl(var(--grey));


    svg {
      margin-top: 25px;
      max-width: 70px;
      max-height: 70px;
      margin-bottom: 15px;
      cursor: pointer;
    }

    .content {
      display: flex;
      flex-direction: column;

      h3 {
        //  LENGTH
        margin-bottom: 10px;
        //  TEXT
        font-size: 0.95rem;
        text-transform: uppercase;
        font-weight: 800;
        text-align: center;
        color: hsl(var(--txt-accent));

      }

      p {
        min-height: 60px;
        font-size: 0.8rem;
        display: -webkit-box;
        text-align: center;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        span {
          font-weight: bold;
        }
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 85px;
        height: 30px;
        font-weight: bold;
        color: hsl(var(--txt-light));
        background-color: hsl(var(--accent-bg));
        border-radius: 5px;
        border: none;
        margin-top: 10px;
        margin-inline: auto;
      }
    }
  }

  @media (width > 600px) {
    p {
      font-size: clamp(0.8rem, 0.71rem + 0.24vw, 1rem);
    }
  }

  @media (width > 1090px) {
    .cards {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;

      .card {
        width: 350px;
        padding: 1rem;
      }
    }
  }
}

#team {

  ///COLORS
  .member.v1 {
    background-color: hsl(var(--card-main-bg));
    box-shadow: 5px 5px 0px hsl(var(--grey));

    h3 {
      color: hsl(var(--txt-light));
      background-color: hsl(var(--accent-bg));
    }
  }

  .member.v1 img {
    box-shadow: 2px 2px 0px hsl(var(--grey));
  }

  .contacts svg {
    fill: hsl(var(--linkedin));
  }

  /// POSITION & DISPLAY
  display: flex;
  justify-content: center;
  align-items: center;



  .subject {
    position: relative;
  }

  .teamBox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    grid-gap: 30px;
    gap: 40px;
    justify-content: center;
  }

  .member.v1 {
    position: relative;
    display: grid;
    grid-template-rows: repeat(auto-fit);

    img {
      display: grid;
      position: relative;
    }
  }


  /// LENGTH AND STYLES
  .subject {
    text-align: center;
    width: 100%;
  }

  .title {
    max-width: 800px;
    margin: 0 auto;
  }


  .teamBox {
    max-width: 100%;
    margin-top: 40px;
  }

  .member.v1 {
    min-height: 350px;
    max-width: 400px;
    width: auto;
    border-radius: 20px;

    img {
      width: 150px;
      aspect-ratio: 1/1;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;
      border-radius: 50%;
    }

    p {
      //// LENGHT
      padding-inline: 20px;
      margin-bottom: 20px;
      ////TEXT
      font-size: 13px;
    }

    .contacts {
      //// LENGTH 
      margin-bottom: 20px;
      //// TEXT 
      font-weight: normal;

      svg {
        width: 20px;
        cursor: pointer;
      }
    }

    h3 {
      padding: 20px;
      border-radius: 0 0 20px 20px;
      text-transform: uppercase;
    }
  }

  .member.v2 {

    ///COLORS
    background-color: hsl(var(--card-main-bg));
    box-shadow: 5px 5px 0px hsl(var(--grey));

    header {
      color: hsl(var(--txt-light));
      background-color: hsl(var(--accent-bg));
    }

    /// POSITION & DISPLAY  
    display: grid;
    grid-template-rows: 1fr 69px;

    header {
      grid-area: 2/1/1 span/1 span;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    main {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 20px;

      img {
        justify-self: center;
        align-self: center;
      }

      .content {
        display: grid;
        grid-template-rows: 1fr 1fr;

        .contacts {
          display: grid;
          grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
          align-content: stretch;

          >* {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }


    /// LENGTH AND STYLES
    border-radius: 10px;
    overflow: hidden;

    main {
      height: 410px;

      img {
        width: 150px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      .content {
        padding-inline: 20px;
        font-size: 13px;

        .bio {
          font-size: 12px;
        }

        .contacts {
          .linkedin {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  // .member {
  //   // overflow: hidden;
  //   //// 
  //   position: relative;
  //   background: #000;
  //   min-height: 300px;
  //   width: 250px;
  //   margin: 0 auto;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border-radius: 10px;
  //   box-shadow: hsl(var(--secondary-bg)) 0px 20px 30px -10px;
  //   box-shadow: 5px 5px 0px hsl(var(--grey));
  //   h3 {
  //     width: 100%;
  //     border-radius: 25px 25px 0 0;
  //     padding: 30px 0;
  //     font-weight: 800;
  //     margin: 0;
  //     color: hsl(var(--bluish));
  //   }

  //   img {
  //     display: block;
  //     position: relative;
  //     background-color: #E6EBEE;
  //     width: 150px;
  //     height: 150px;
  //     margin: 0 auto;
  //     margin-top: 30px;
  //     overflow: hidden;
  //     border-radius: 50%;
  //   }

  //   .details {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     background-color: hsl(var(--black));
  //     opacity: 0;
  //     transition: .5s linear;


  //     span {
  //       color: hsl(var(--whitish));
  //     }
  //   }
  // }
}




// SECTION: CONTACT

#contact {
  ////FLEX
  display: flex;
  justify-content: center;
  align-items: center;
  ////LENGHT
  width: auto;
  height: auto;
  max-width: none;
  margin: 20px;
  ////DECORATION
  background: linear-gradient(-45deg, #23a6d5, #257997, #147cdf, #485dcf, );
  background-size: auto;
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  border-radius: 50px;

  label {
    >* {
      color: hsl(var(--whitish));
    }

    >p {
      font-weight: bold;
      cursor: pointer;
    }
  }

  input,
  select,
  textarea {
    ////LENGHT
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    ////TEXT
    @include bootstrap.p_small;
    font-size: .8rem;
    ////DECORATION
    border: 1px solid hsl(var(--main-bg));
    resize: vertical;
    background-color: hsl(var(--secondary-bg) / 0.062);
    border-radius: 8px;
  }

  textarea {
    ////LENGHT
    min-height: 140px;
  }

  button {
    background-color: hsl(var(--secondary-bg) / 0.2);
    color: hsl(var(--txt-light));
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    border: 1px solid hsl(var(--main-bg));
    border-radius: 8px;


    &:hover {
      background-color: hsl(var(--accent-bg));
    }
  }


  .container {
    border-radius: 5px;
    padding: 10px;
  }

  header {
    text-align: center;
    text-transform: uppercase;

    h2 {
      color: hsl(var(--txt-light));
      font-size: 2rem;
    }

    p {
      color: hsl(var(--txt-light));
    }
  }

  .column {
    float: left;
    margin-top: 6px;
    padding: 20px;

    >div {
      display: flex;
      flex-direction: column;
      column-gap: 10px;
    }
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (width < 600px) {
    padding-inline: 5%;

    .column,
    input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  @media (width > 1080px) {
    .column>div {
      flex-direction: row;
    }

  }
}

//  FOOTER
////  COLORS

#footer {
  background-color: hsl(var(--secondary-bg));

  .share {
    a {
      .facebook {
        fill: hsl(var(--facebook));
      }

      .linkedin {
        fill: hsl(var(--linkedin));
      }

      .dribbble {
        fill: hsl(var(--dribbble));
      }
    }
  }

  .credit {
    color: hsl(var(--txt-light));

    span {
      color: hsl(var(--txt-accent));
    }
  }

  .links a {
    color: hsl(var(--txt-light));
    border: hsl(var(--grey));

    &:hover {
      color: hsl(var(--txt-accent));
    }
  }


}

//// POSITIONING AND STYLES
#footer {
  text-align: center;

  .share {
    padding: 2rem 0;

    a {
      display: inline-block;

      svg {
        height: 2rem;
        width: 2rem;
        margin: 0.3rem;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

      }

      &:hover svg {
        cursor: pointer;
        -moz-animation-name: bounce;
      }

    }
  }

  .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;

    a {
      padding: 0.7rem 2rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      border-radius: 20px;
      width: 255.5px;

      &:hover {
        font-weight: bold;
      }

    }
  }

  .credit {
    font-weight: lighter;
    padding: 1.5rem;

    span {
      font-weight: bold;
    }
  }
}