@use "bootstrap";
//  LAYOUT

//SECTION: SERVICES
#services {

  ///  COLORS
  .card {
    box-shadow: 5px 5px 0px hsl(var(--grey));
    background-color: hsl(var(--white));

    .imageContainer .overlay &.blue {
      background-color: hsl(var(--blue) / 0.15);
    }

    a {
      color: hsl(var(--card-background));
      background-color: hsl(var(--card-accent));
    }

    h3 {
      color: hsl(var(--card-foreground));
    }

    p {
      color: hsl(var(--card-mid-ground));

      span {
        color: hsl(var(--card-foreground));
      }
    }
  }

  /// POSITION & DISPLAY
  ////FLEX 
  display: flex;
  flex-direction: column;
  gap: var(--proximity-in-large);


  h2 {
    ////TEXT
    text-align: center;
  }

  .cards {
    ////FLEX
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--proximity-mid);
  }

  .card {
    ////FLEX
    display: grid;

    .imageContainer {
      position: relative;

      img {
        position: absolute;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        inset: 0;
      }
    }

    .content {
      ////FLEX
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--proximity-in-small);

      .info {
        display: flex;
        flex-direction: column;
        gap: var(--proximity-in-small);
      }

      p {
        ////FLEX
        display: -webkit-box;
        text-align: center;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        span {
          ////TEXT
          font-weight: bold;
        }
      }

    }

    a {
      ////FLEX
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  /// LENGHT AND STYLE
  ////  LENGTH
  margin: auto;

  h2 {
    padding-inline: var(--proximity-mid);
  }

  .cards {
    ////  LENGTH
    width: auto;
    padding-inline: var(--proximity-out-small);
  }

  .card {
    ////LENGHT
    width: 320px;
    border-radius: var(--border-radius-large);
    overflow: hidden;

    .imageContainer {
      width: 100%;
      height: 130px;

      img {
        inset: 0;
        height: 100%;
        width: 100%;
      }
    }

    .content {
      padding: var(--proximity-in-small);

      h3 {
        gap: 20px;
        ////  TEXT
        font-size: var(--font-size-small);
        text-transform: uppercase;
        font-weight: 800;
        text-align: center;
      }

      p {
        ////TEXT
        min-height: 70px;
        font-size: var(--font-size-tiny);


      }
    }

    a {
      ////LENGHT
      width: 110px;
      height: 30px;
      margin-inline: auto;
      border-radius: var(--border-radius-medium);
      border: none;
      font-weight: bold;
    }
  }

  @media (width < 600px) {
    .card {
      width: 290px
    }
  }

  @media (width > 600px) {
    p {
      ////TEXT
      font-size: clamp(0.8rem, 0.71rem + 0.24vw, 1rem);
    }
  }

  @media (width > 1090px) {
    .cards {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
  }
}

//SECTION: TEAM
#team {

  ///COLOR
  .member.v2 {
    background-color: hsl(var(--card-background));
    box-shadow: 5px 5px 0px hsl(var(--grey));

    header {
      color: hsl(var(--txt-light));
      background-color: hsl(var(--accent));
    }

    .linkedin {
      fill: hsl(var(--linkedin));
    }
  }


  /// POSITION & DISPLAY
  justify-self: normal;
  ////FLEX
  display: flex;
  justify-content: center;
  align-items: center;

  .subject {
    ////POSITION
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--proximity-in-large)
  }

  .teamBox {
    ////POSITION
    position: relative;
    ////GRID
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
    justify-content: space-evenly;
    grid-gap: 30px;

    .member.v2 {
      ////GRID
      display: flex;
      flex-direction: column-reverse;
      overflow: hidden;
      border-radius: var(--border-radius-large);

      header {
        ////FLEX
        display: flex;
        justify-content: center;
        align-items: center;
        ////DECORATION
        border-radius: 0 0 30px 30px;
      }

      main {
        ////GRID
        display: flex;
        flex-direction: column;
        gap: var(--proximity-in-large);

        img {
          ////IMAGE
          justify-self: center;
          align-self: center;
        }

        .content {
          ////GRID
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .contacts {
            ////GRID
            display: flex;
            flex-direction: column;
            align-items: center;

            >* {
              ////FLEX
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }

  @media (width > 450px) {
    .teamBox .member.v2 main {
      flex-direction: row;

      .content .contacts {
        ////FLEX 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }

  ///LENGHT AND STYLE
  width: 100%;

  .subject {
    ////LENGHT
    width: 80%;
    text-align: center;
  }

  .title {
    ////LENGHT
    max-width: 800px;
    margin: 0 auto;

  }

  .teamBox {
    ////LENGHT
    min-width: 100%;
  }

  header {
    ////LENGHT
    padding-block: var(--proximity-in-large);
    ////TEXT 
    font-size: var(--font-size-small);
  }

  main {
    img {
      ////LENGHT
      height: 150px;
      width: 130px;
      object-fit: cover;
      object-position: top;
      ////DECOATION
    }

    .content {
      ////TEXT
      font-size: var(--font-size-tiny);
      ////LENGHT
      padding-top: var(--proximity-out-small);

      .contacts {
        ////LENGHT
        height: fit-content;
        width: fit-content;
        color: hsl(var(--card-mid-ground));
      }

      .email span {
        ////TEXT
        font-size: var(--font-size-tiny);
      }

      .phone span {
        ////TEXT
        font-size: var(--font-size-tiny);
      }


      span.icon {
        ////TEXT
        font-size: var(--font-size-small);
      }

      .linkedin {
        ////LENGHT
        width: 20px;
      }
    }
  }

  @media (width > 450px) {
    .teamBox .member.v2 main {
      flex-direction: row;
    }
  }
}