@use "bootstrap";
//  LAYOUT

//SECTION: SERVICES
#services {

  ///  COLORS
  .card {
    box-shadow: 5px 5px 0px hsl(var(--grey));
    background-color: hsl(var(--white));

    a {
      color: hsl(var(--txt-light));
      background-color: hsl(var(--accent));
    }

    h3 {
      color: hsl(0, 0%, 10%);
    }

    p {
      color: hsl(0, 0%, 30%);
    }
  }


  /// POSITION & DISPLAY
  ////FLEX 
  display: flex;
  flex-direction: column;
  gap: var(--proximity-in-large);


  h2 {
    ////TEXT
    text-align: center;
  }

  .cards {
    ////FLEX
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--proximity-mid);
  }


  .card {
    ////FLEX
    // display: flex;
    // flex-direction: column;
    // flex-grow: 1;
    ////GRID
    display: grid;
    // grid-template-rows: 35% 35% 30%;
    // align-items: center;

    .content {
      ////FLEX
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--proximity-in-small);

      .info {
        display: flex;
        flex-direction: column;
        gap: var(--proximity-in-small);
      }

      p {
        ////FLEX
        display: -webkit-box;
        text-align: center;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        span {
          ////TEXT
          font-weight: bold;
        }
      }

    }

    a {
      ////FLEX
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


  @media (width > 1090px) {
    .cards {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
  }


  /// LENGHT AND STYLE
  ////  LENGTH
  margin: auto;

  h2 {
    padding-inline: var(--proximity-mid);
  }

  .cards {
    ////  LENGTH
    width: auto;
    padding-inline: var(--proximity-out-small);

    @media (width < 600px) {
      .card {
        width: 290px
      }
    }
  }

  .card {
    ////LENGHT
    width: 320px;
    border-radius: var(--border-radius-large);
    overflow: hidden;

    .imageContainer {
      width: 100%;
      height: 130px;
      position: relative;

      img {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        inset: 0;

        &.blue {
          background-color: hsl(var(--blue) / 0.15);
        }
      }
    }

    .content {
      padding: var(--proximity-in-small);
      // padding-inline: var(--proximity-in-medium) ;
      // padding-inline: 1rem;

      h3 {
        gap: 20px;
        ////  TEXT
        font-size: var(--font-size-small);
        text-transform: uppercase;
        font-weight: 800;
        text-align: center;
      }

      p {
        ////TEXT
        min-height: 70px;
        font-size: var(--font-size-tiny);

        @media (width > 600px) {
          p {
            ////TEXT
            font-size: clamp(0.8rem, 0.71rem + 0.24vw, 1rem);
          }
        }
      }
    }

    a {
      ////LENGHT
      width: 110px;
      height: 30px;
      margin-inline: auto;
      border-radius: var(--border-radius-medium);
      border: none;
      font-weight: bold;
    }
  }



}

//SECTION: TEAM
#team {
 
  ///COLOR
  .member.v2 {
    background-color: hsl(var(--card-background));
    box-shadow: 5px 5px 0px hsl(var(--grey));

    header {
      color: hsl(var(--txt-light));
      background-color: hsl(var(--accent));
    }

    .linkedin {
      fill: hsl(var(--linkedin));
    }
  }


  /// POSITION & DISPLAY
  justify-self: normal;
  ////FLEX
  display: flex;
  justify-content: center;
  align-items: center;

  .subject {
    ////POSITION
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--proximity-in-large)
  }

  .teamBox {
    ////POSITION
    position: relative;
    ////GRID
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-gap: 30px;

    @media (width < 980px) {
      grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
    }
    @media (width < 440px) {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }

    .member.v2 {
      ////GRID
      display: grid;
      grid-template-rows: 1fr 69px;
      border-radius: var(--border-radius-large);

      header {
        ////GRID
        grid-area: 2/1/1 span/1 span;
        ////FLEX
        display: flex;
        justify-content: center;
        align-items: center;
        ////DECORATION
        border-radius: 0 0 30px 30px;
      }

      main {
        ////GRID
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: var(--proximity-in-large);

        img {
          ////IMAGE
          justify-self: center;
          align-self: center;
        }

        .content {
          ////GRID
          display: grid;
          grid-template-rows: 1fr 1fr;

          .contacts {
            ////GRID
            display: grid;
            grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
            align-content: stretch;

            >* {
              ////FLEX
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }

  ///LENGHT AND STYLE

  .subject {
    ////LENGHT
    width: 80%;
    text-align: center;
  }

  .title {
    ////LENGHT
    max-width: 800px;
    margin: 0 auto;

  }

  .teamBox {
    ////LENGHT
    min-width: 100%;
    // margin-top: var(--proximity-in-medium);
  }

  header {
    ////TEXT 
    font-size: var(--font-size-small);
  }

  main {
    ////LENGHT
    height: 410px;
    padding: var(--proximity-out-small);

    img {
      ////LENGHT
      width: 150px;
      aspect-ratio: 1/1;
      ////DECORATION
      border-radius: var(--border-radius-circle);
    }

    .content {
      ////TEXT
      font-size: var(--font-size-tiny);
      ////LENGHT
      height: 200px;

      .contacts {
        ////LENGHT
        max-height: 100px;
      }

      .bio {
        ////TEXT
        font-size: var(--font-size-tiny);
      }

      .email {
        ////TEXT
        font-size: var(--font-size-tiny);
      }

      span {
        ////TEXT
        font-size: var(--font-size-small);
      }

      .linkedin {
        ////LENGHT
        width: 20px;
      }
    }
  }
}