@use "bootstrap";

#services {

  /// COLORS
  .card {
    background-color: hsl(var(--white));
    box-shadow: 5px 5px 0px hsl(var(--grey));

    h3 {
      color: hsl(var(--txt-accent));
    }

    main div {
      box-shadow: 0px 3.2px 7.2px hsl(var(--black)/0.132), 0px 0.6px 1.8px hsl(var(--black)/0.108);
    }
  }


  /// POSITION & DISPLAY
  ////FLEX
  display: flex;
  flex-direction: column;
  gap: 30px;


  .cards {
    ////FLEX
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .card {
    ////FLEX
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 15px;

    @media (width < 600px) {
      .card {
        ////FLEX
        display: flex;
        flex-direction: column;
        gap: 10px;

        main {
          ////GRID
          grid-template-columns: auto;
        }
      }
    }

    header {
      ////FLEX
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    main {
      ////FLEX
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 25px;

      div {
        ////FLEX
        flex: 0 1 calc(50% - 20px);
        ////GRID
        display: grid;
        justify-content: center;
        align-items: center;


      }
    }

    // .features {
    //   text-align: center;
    //   min-height: 30px;

    //   a {
    //     font-weight: bold;
    //     color: hsl(var(--txt-accent));
    //   }
    // }
  }

  /// LENGTH AND STYLES
  ////  LENGTH
  margin: auto;
  margin-bottom: 40px;
  width: 90%;

  .card {
    ////  LENGTH
    width: 100%;
    min-height: 44vh;
    padding: 10px 20px;
    ////  DECORATION
    border-radius: 30px;

    @media (width > 1090px) {
      .card {
        ////LENGHT
        padding: 1rem;
      }
    }
  }

  svg {
    ////LENGHT
    max-width: 70px;
    max-height: 70px;
  }

  h3 {
    //// TEXT
    @include bootstrap.h3;
    text-transform: uppercase;
    word-spacing: 10px;
  }

  p {
    //// TEXT
    @include bootstrap.p_small;
    text-align: center;
  }

  div {
    ////LENGHT
    border-radius: 15px;
    padding-bottom: 20px;
    padding-inline: 10px;
  }
 

  main {
    ////TEXT
    text-align: center;
    @include bootstrap.p_small;
  }
}