@use "bootstrap";
//  LAYOUT

//SECTION: HEADER
///POSITIONING AND STYLES
.header {
  //  LENGTH
  height: 100vh;
  height: 100dvh;
  padding-top: 150px;
  min-height: 700px;
}


//SECTION: TEAM
/// POSITIONING AND STYLES
#team {
  justify-self: normal;
  display: flex;
  justify-content: center;
  align-items: center;

  .subject {
    position: relative;
    text-align: center;
    width: 80%;
  }

  .teamBox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
  }

  ///LENGHT AND DISPLAY

  #team {
    .subject {
      width: 100%;
    }

    .title {
      max-width: 800px;
      margin: 0 auto;
    }

    .teamBox {
      min-width: 100%;
      margin-top: 40px;
    }
  }

  .member.v2 {

    ///COLORS
    background-color: hsl(var(--card-main-bg));
    box-shadow: 5px 5px 0px hsl(var(--grey));

    header {
      color: hsl(var(--txt-light));
      background-color: hsl(var(--accent-bg));
    }

    .linkedin {
      fill: hsl(var(--linkedin));
    }

    /// POSITION & DISPLAY  
    display: grid;
    grid-template-rows: 1fr 69px;

    header {
      grid-area: 2/1/1 span/1 span;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    main {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 20px;

      img {
        justify-self: center;
        align-self: center;
      }

      .content {
        display: grid;
        grid-template-rows: 1fr 1fr;

        .contacts {
          display: grid;
          grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
          align-content: stretch;
          max-height: 100px;

          >* {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .email {
            font-size: 13px;
          }

          span {
            font-size: 25px;
          }

          .linkedin {
            width: 20px;
          }
        }
      }
    }


    /// LENGTH AND STYLES
    border-radius: 10px;
    overflow: hidden;

    main {
      height: 410px;

      img {
        width: 150px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      .content {
        padding-inline: 20px;
        font-size: 13px;

        .bio {
          font-size: 12px;
        }
      }
    }
  }
}