@use "bootstrap";
//  LAYOUT

//SECTION: TEAM
#team {

  ///COLOR
  .member.v2 {
    background-color: hsl(var(--card-background));
    box-shadow: 5px 5px 0px hsl(var(--grey));

    header {
      color: hsl(var(--txt-light));
      background-color: hsl(var(--accent));
    }

    .linkedin {
      fill: hsl(var(--linkedin));
    }
  }


  /// POSITION & DISPLAY
  justify-self: normal;
  ////FLEX
  display: flex;
  justify-content: center;
  align-items: center;

  .subject {
    ////POSITION
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--proximity-in-large)
  }

  .teamBox {
    ////POSITION
    position: relative;
    ////GRID
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
    justify-content: space-evenly;
    grid-gap: 30px;

    .member.v2 {
      ////GRID
      display: flex;
      flex-direction: column-reverse;
      overflow: hidden;
      border-radius: var(--border-radius-large);

      header {
        ////FLEX
        display: flex;
        justify-content: center;
        align-items: center;
        ////DECORATION
        border-radius: 0 0 30px 30px;
      }

      main {
        ////GRID
        display: flex;
        flex-direction: column;
        gap: var(--proximity-in-large);

        img {
          ////IMAGE
          justify-self: center;
          align-self: center;
        }

        .content {
          ////GRID
          display: grid;
          align-items: center;

          .contacts {
            ////GRID
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            >* {
              ////FLEX
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }

  @media (width > 450px) {
    .teamBox .member.v2 main {
      flex-direction: row;

      .contacts {
        ////GRID
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  // @media (width > 500px) {
  //   .teamBox .member.v2 main{
  //     flex-direction: column;
  //   }
  // }

  ///LENGHT AND STYLE
  width: 100%;

  .subject {
    ////LENGHT
    width: 80%;
    text-align: center;
  }

  .title {
    ////LENGHT
    max-width: 800px;
    margin: 0 auto;

  }

  .teamBox {
    ////LENGHT
    min-width: 100%;
    // margin-top: var(--proximity-in-medium);
  }

  header {
    ////LENGHT
    padding-block: 1rem;
    ////TEXT 
    font-size: var(--font-size-small);
  }

  main {

    img {
      ////LENGHT
      height: 150px;
      width: 130px;
      // aspect-ratio: 1/1;
      object-fit: cover;
      object-position: top;
      ////DECOATION
      // border-radius: var(--border-radius-circle);
    }

    .content {
      ////TEXT
      font-size: var(--font-size-tiny);
      ////LENGHT
      padding-top: var(--proximity-out-small);

      .contacts {
        ////LENGHT
        height: fit-content;
        width: fit-content;
        color: hsl(var(--card-mid-ground));
      }

      .email span {
        ////TEXT
        font-size: var(--font-size-tiny);
      }

      .phone span {
        ////TEXT
        font-size: var(--font-size-tiny);
      }


      span.icon {
        ////TEXT
        font-size: var(--font-size-small);
      }

      .linkedin {
        ////LENGHT
        width: 20px;
      }
    }
  }

  @media (width > 450px) {
    .teamBox .member.v2 main {
      flex-direction: row;
    }
  }
}