#about {
  width: 80%;
  margin-inline: auto;
}
#about main p {
  color: hsl(var(--mid-ground));
}
#about main p:not(:last-child):after {
  border: 1px solid hsl(var(--black)/0.2);
}
#about main p span {
  color: hsl(var(--accent));
}
#about h2 {
  text-align: center;
}
#about main {
  display: flex;
  flex-direction: column;
  gap: var(--proximity-mid);
}
#about main p {
  text-align: left;
}
#about main p:not(:last-child):after {
  content: "";
  position: absolute;
  inset: auto;
  bottom: calc(var(--proximity-mid) / -2);
  width: 95%;
}
#about h2 {
  padding-bottom: 20px;
  font-size: var(--font-size-large);
}
@media (width > 1095px) {
  #about h2 h2 {
    font-size: clamp(1.2rem, 1.02rem + 0.48vw, 1.6rem);
  }
}
#about p {
  font-size: var(--font-size-tiny);
  display: inline-flex;
  position: relative;
}
#about p:not(:last-child):after {
  content: "";
  width: 90%;
}
#about p span {
  font-weight: bold;
}
