#about {
  width: 80%;
  margin-inline: auto;
}
#about main p {
  color: hsl(var(--mid-ground));
}
#about main p span {
  color: hsl(var(--accent));
}
#about main p a {
  color: hsl(var(--accent));
}
#about h2 {
  text-align: center;
}
#about main {
  display: flex;
  flex-direction: column;
  gap: var(--proximity-mid);
}
#about main p {
  margin-inline: none;
  text-align: left;
}
#about h2 {
  padding-bottom: 20px;
  font-size: var(--font-size-large);
}
@media (width > 1095px) {
  #about h2 h2 {
    font-size: clamp(1.2rem, 1.02rem + 0.48vw, 1.6rem);
  }
}
#about p {
  font-size: var(--font-size-tiny);
}
#about p span {
  font-weight: bold;
}
