/* Error: There is no module with the namespace "bootstrap".
 *    ,
 * 11 |       @include bootstrap.h2;
 *    |       ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src\styles\scss\about_us.scss 11:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "bootstrap".\a    \2577 \a 11 \2502        @include bootstrap.h2;\d\a    \2502        ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\styles\\scss\\about_us.scss 11:7  root stylesheet';
}
