#contact {
  background: linear-gradient(-45deg, #23a6d5, #257997, #147cdf, #485dcf);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  max-width: none;
  margin: 20px;
  background-size: auto;
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  border-radius: 50px;
}
#contact label > * {
  color: hsl(var(--whitish));
}
#contact input,
#contact select,
#contact textarea {
  border: 1px solid hsl(var(--main-bg));
  background-color: hsl(var(--secondary-bg)/0.062);
}
#contact button {
  background-color: hsl(var(--secondary-bg)/0.2);
  color: hsl(var(--txt-light));
  border: 1px solid hsl(var(--main-bg));
}
#contact button:hover {
  background-color: hsl(var(--accent-bg));
}
#contact header h2 {
  color: hsl(var(--txt-light));
}
#contact header p {
  color: hsl(var(--txt-light));
}
#contact > p {
  cursor: pointer;
}
#contact input,
#contact select,
#contact textarea {
  font-size: clamp(0.7rem, 0.4rem + 0.85vw, 1.3rem);
  font-size: 0.8rem;
  resize: vertical;
  border-radius: 8px;
}
#contact button {
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
#contact .container {
  border-radius: 5px;
}
#contact header {
  text-align: center;
  text-transform: uppercase;
}
#contact header h2 {
  font-size: 2rem;
}
#contact .column {
  float: left;
  margin-top: 6px;
  padding: 20px;
}
#contact .column > div {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
}
#contact .row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (width < 600px) {
  #contact {
    padding-inline: 5%;
  }
  #contact .column,
  #contact input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
@media (width > 1080px) {
  #contact .column > div {
    flex-direction: row;
  }
}
#contact > p {
  font-weight: bold;
}
#contact input,
#contact select,
#contact textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
}
#contact button {
  padding: 15px 25px;
}
#contact .container {
  padding: 10px;
}
#contact textarea {
  min-height: 140px;
}
