@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
:root {
  --black: 0 0% 27%;
  --blackish: 210 3% 15%;
  --grey: 0 0% 22%;
  --whitish: 0 0% 94%;
  --white: 0 0% 100%;
  --blue: 218 100% 63%;
  --red: 0 100% 50%;
  --green: 106 100% 63%;
  --test-color: hsl(213 9% 21%);
  --test-color: hsl(218, 100%, 63%);
  --test-color: hsl(0, 0%, 94%);
  --main-bg: var(--whitish);
  --secondary-bg: var(--black);
  --accent-bg: var(--blue);
  --card-main-bg: 0 0% 0%;
  --card-secondary-bg: 0 0% 0%;
  --card-accent-bg: 0 0% 0%;
  --btn-main-bg: 0 0% 0%;
  --btn-secondary-bg: 0 0% 0%;
  --btn-accent-bg: 0 0% 0%;
  --txt-dark: var(--black);
  --txt-light: var(--white);
  --txt-accent: var(--blue);
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html.noOverflow {
  overflow-y: hidden;
}

body {
  background-color: hsl(var(--main-bg));
  color: hsl(var(--txt-dark));
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

main {
  display: grid;
  align-items: start;
  row-gap: 20px;
}

section {
  /* LENGTH */
  width: 100%;
  max-width: 1180px;
  margin-inline: auto;
}
section.container {
  margin-inline: 30px;
}
