.header {
  height: 100vh;
  height: 100dvh;
  padding-top: 150px;
}

footer.footer {
  background-color: hsl(var(--secondary-bg));
}

#nav {
  background-color: hsl(var(--main-bg));
}

.navigation {
  background-color: hsl(var(--main-bg));
}
.navigation a:where(:hover, :active, .active) {
  color: #304ffe;
}

.burger {
  background-color: transparent;
}

.btn_language {
  background-color: rgba(204, 204, 204, 0.2509803922);
}
.btn_language.active {
  background-color: hsl(218, 100%, 63%);
  color: hsl(var(--main-bg));
}

@media (width > 1080px) {
  #nav.down {
    border-bottom-color: hsl(var(--accent-bg)/0.3);
  }
}
#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  transition: 0.3s height;
}
#nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-inline: 20px;
}

.logo {
  position: relative;
  height: 64px;
  width: 80px;
  min-height: 64px;
  min-width: 80px;
}

.options {
  display: flex;
  gap: 80px;
}
.options .navigation {
  display: none;
}
.options .navigation.active {
  position: absolute;
  inset: 80px 0 0 0;
  height: calc(100dvh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 1s height;
}
.options .navigation.active a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  min-height: 85px;
}
.options .languages {
  display: flex;
  gap: 5px;
  font-size: 0.95rem;
}
.options .languages .btn_language {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 30px;
  border-radius: 8px;
}
.options .languages .btn_language.active {
  font-weight: 800;
}
.options .burger {
  height: 30px;
  width: 30px;
  border: none;
}

@media (width > 1080px) {
  #nav {
    height: 150px;
  }
  #nav.down {
    height: 80px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  #nav .navigation {
    display: flex;
    gap: 20px;
  }
  #nav .navigation a {
    width: 80px;
  }
  #nav .navigation a:where(:hover, :active, .active) {
    font-weight: bold;
  }
  #nav .burger {
    display: none;
  }
}
.hero span {
  color: hsl(var(--txt-accent));
}

.hero {
  background-image: url(../../images/bg_main.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 100%;
  margin-inline: auto;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr/clamp(272px, 50% + 150px, 850px) 1fr;
  justify-content: start;
  align-items: center;
}
.hero h1 {
  grid-area: 1/1/1 span/1 span;
  align-self: end;
  width: max(100%, 375px);
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: uppercase;
  transition: 0.2s font-size;
}
.hero > p {
  grid-area: 2/1/2 span/1 span;
  font-size: 0.8rem;
  text-align: justify;
  transition: 0.3s font-size;
}
@media (width > 600px) {
  .hero h1 {
    font-size: clamp(1.3rem, 1.034rem + 0.71vw, 1.7rem);
  }
  .hero > p {
    font-size: clamp(0.9rem, 0.6rem + 0.81vw, 1.1rem);
  }
}

div.footer {
  background-color: hsl(var(--secondary-bg));
  background-color: black;
}
div.footer .credit {
  color: white;
}
div.footer .credit span {
  color: hsl(var(--blue));
}
div.footer .links a {
  color: white;
  border: gray;
}
div.footer .links a:hover {
  background-color: hsl(var(--blue));
}
div.footer .share a:hover {
  background-color: hsl(var(--blue));
}

div.footer {
  text-align: center;
}

.footer .share {
  padding: 1rem 0;
}

div.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: white;
  border: gray;
  margin: 0.3rem;
  border-radius: 50%;
}

div.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

div.footer .links a {
  padding: 0.7rem 2rem;
  font-size: 2rem;
}

div.footer .credit {
  font-size: 2rem;
  font-weight: lighter;
  padding: 1.5rem;
}

#about {
  width: 80%;
  margin-inline: min(150px, auto);
}
#about h2 {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}
#about p {
  text-align: justify;
  font-size: 0.8rem;
}
@media (width > 1095px) {
  #about h2 {
    font-size: clamp(1.2rem, 1.02rem + 0.48vw, 1.6rem);
  }
  #about p {
    font-size: clamp(0.8rem, 0.71rem + 0.24vw, 1rem);
  }
}

#services .card {
  background-color: #fff;
}

#services {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
#services h2 {
  visibility: hidden;
}
#services .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#services .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 15px;
  width: 80%;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 10px 5px 5px #7c7c7c;
}
#services .card svg {
  margin-top: 25px;
  max-width: 70px;
  max-height: 70px;
  margin-bottom: 15px;
  cursor: pointer;
}
#services .card h3 {
  margin-bottom: 10px;
  font-size: 0.95rem;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}
#services .card p {
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (width > 600px) {
  #services p {
    font-size: clamp(0.8rem, 0.71rem + 0.24vw, 1rem);
  }
}
@media (width > 1090px) {
  #services .cards {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #services .cards .card {
    width: 350px;
    padding: 1rem;
  }
}

#team {
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#team .subject {
  position: relative;
  text-align: center;
  width: 100%;
}
#team .title {
  max-width: 800px;
  margin: 0 auto;
}
#team h3 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}
#team .teamBox {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}
#team .member {
  overflow: hidden;
  position: relative;
  background: #000;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#team .member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#team .member .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  opacity: 0;
  transition: 0.5s linear;
}
#team .member:hover .details {
  opacity: 1;
}

.inputBox input:hover[type=submit] {
  background: #64DD17;
}

.inputBox ::placeholder {
  color: #999;
}

#contact {
  background: linear-gradient(-45deg, #ee7752, rgba(202, 135, 11, 0.6117647059), #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
  border-radius: 50px;
  max-width: none;
  width: auto;
  min-height: 80vh;
  margin-inline: 20px;
  padding: 100px 50px 50px 50px;
}
#contact .contentForm {
  position: relative;
  text-align: center;
  width: 1000px;
}
#contact .contentForm header h2 {
  color: #FFF;
}
#contact .contactForm {
  position: relative;
  display: grid;
}
#contact .contactForm .formBox {
  position: relative;
  width: 100%;
}
#contact .contactForm .formBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 0px solid #FFF;
  background: rgba(255, 255, 255, 0.2509803922);
  border-radius: 10px;
}
#contact .contactForm .formBox .persinfo {
  display: flex;
  gap: 20px;
}
#contact .contactForm .formBox .inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
#contact .contactForm .formBox .inputBox span {
  color: #FFF;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  text-align: left;
}
#contact .contactForm .formBox .inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 0px solid #FFF;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2509803922);
  border-radius: 10px;
  resize: vertical;
}
#contact .contactForm .formBox .inputBox [type=submit] {
  background: #00C853;
  color: #FFF;
  border: none;
  font-size: 1.1em;
  width: 200px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  border-radius: 10px;
}
#contact .contactForm .formBox .message .inputBox {
  width: 100%;
}
@media (width > 600px) {
  #contact .contactForm .formBox #contact {
    padding: 100px 50px 50px 50px;
  }
}
