#services {
  display: flex;
  flex-direction: column;
  gap: var(--proximity-in-large);
  margin: auto;
}
#services .card {
  box-shadow: 5px 5px 0px hsl(var(--grey));
  background-color: hsl(var(--white));
}
#services .card a {
  color: hsl(var(--txt-light));
  background-color: hsl(var(--accent));
}
#services .card h3 {
  color: hsl(0, 0%, 10%);
}
#services .card p {
  color: hsl(0, 0%, 30%);
}
#services h2 {
  text-align: center;
}
#services .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--proximity-mid);
}
#services .card {
  display: grid;
}
#services .card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--proximity-in-small);
}
#services .card .content .info {
  display: flex;
  flex-direction: column;
  gap: var(--proximity-in-small);
}
#services .card .content p {
  display: -webkit-box;
  text-align: center;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#services .card .content p span {
  font-weight: bold;
}
#services .card a {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width > 1090px) {
  #services .cards {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}
#services h2 {
  padding-inline: var(--proximity-mid);
}
#services .cards {
  width: auto;
  padding-inline: var(--proximity-out-small);
}
@media (width < 600px) {
  #services .cards .card {
    width: 290px;
  }
}
#services .card {
  width: 320px;
  border-radius: var(--border-radius-large);
  overflow: hidden;
}
#services .card .imageContainer {
  width: 100%;
  height: 130px;
  position: relative;
}
#services .card .imageContainer img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#services .card .imageContainer .overlay {
  position: absolute;
  inset: 0;
}
#services .card .imageContainer .overlay.blue {
  background-color: hsl(var(--blue)/0.15);
}
#services .card .content {
  padding: var(--proximity-in-small);
}
#services .card .content h3 {
  gap: 20px;
  font-size: var(--font-size-small);
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}
#services .card .content p {
  min-height: 70px;
  font-size: var(--font-size-tiny);
}
@media (width > 600px) {
  #services .card .content p p {
    font-size: clamp(0.8rem, 0.71rem + 0.24vw, 1rem);
  }
}
#services .card a {
  width: 110px;
  height: 30px;
  margin-inline: auto;
  border-radius: var(--border-radius-medium);
  border: none;
  font-weight: bold;
}

#team {
  justify-self: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
#team .member.v2 {
  background-color: hsl(var(--card-background));
  box-shadow: 5px 5px 0px hsl(var(--grey));
}
#team .member.v2 header {
  color: hsl(var(--txt-light));
  background-color: hsl(var(--accent));
}
#team .member.v2 .linkedin {
  fill: hsl(var(--linkedin));
}
#team .subject {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--proximity-in-large);
}
#team .teamBox {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-gap: 30px;
}
@media (width < 980px) {
  #team .teamBox {
    grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
  }
}
@media (width < 440px) {
  #team .teamBox {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
#team .teamBox .member.v2 {
  display: grid;
  grid-template-rows: 1fr 69px;
  border-radius: var(--border-radius-large);
}
#team .teamBox .member.v2 header {
  grid-area: 2/1/1 span/1 span;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 30px 30px;
}
#team .teamBox .member.v2 main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: var(--proximity-in-large);
}
#team .teamBox .member.v2 main img {
  justify-self: center;
  align-self: center;
}
#team .teamBox .member.v2 main .content {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#team .teamBox .member.v2 main .content .contacts {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
  align-content: stretch;
}
#team .teamBox .member.v2 main .content .contacts > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
#team .subject {
  width: 80%;
  text-align: center;
}
#team .title {
  max-width: 800px;
  margin: 0 auto;
}
#team .teamBox {
  min-width: 100%;
}
#team header {
  font-size: var(--font-size-small);
}
#team main {
  height: 410px;
  padding: var(--proximity-out-small);
}
#team main img {
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-circle);
}
#team main .content {
  font-size: var(--font-size-tiny);
  height: 200px;
}
#team main .content .contacts {
  max-height: 100px;
}
#team main .content .bio {
  font-size: var(--font-size-tiny);
}
#team main .content .email {
  font-size: var(--font-size-tiny);
}
#team main .content span {
  font-size: var(--font-size-small);
}
#team main .content .linkedin {
  width: 20px;
}
