#team {
  justify-self: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#team .member.v2 {
  background-color: hsl(var(--card-background));
  box-shadow: 5px 5px 0px hsl(var(--grey));
}
#team .member.v2 header {
  color: hsl(var(--txt-light));
  background-color: hsl(var(--accent));
}
#team .member.v2 .linkedin {
  fill: hsl(var(--linkedin));
}
#team .subject {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--proximity-in-large);
}
#team .teamBox {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
  justify-content: space-evenly;
  grid-gap: 30px;
}
#team .teamBox .member.v2 {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  border-radius: var(--border-radius-large);
}
#team .teamBox .member.v2 header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 30px 30px;
}
#team .teamBox .member.v2 main {
  display: flex;
  flex-direction: column;
  gap: var(--proximity-in-large);
}
#team .teamBox .member.v2 main img {
  justify-self: center;
  align-self: center;
}
#team .teamBox .member.v2 main .content {
  display: grid;
  align-items: center;
}
#team .teamBox .member.v2 main .content .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#team .teamBox .member.v2 main .content .contacts > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width > 450px) {
  #team .teamBox .member.v2 main {
    flex-direction: row;
  }
  #team .teamBox .member.v2 main .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
#team .subject {
  width: 80%;
  text-align: center;
}
#team .title {
  max-width: 800px;
  margin: 0 auto;
}
#team .teamBox {
  min-width: 100%;
}
#team header {
  padding-block: 1rem;
  font-size: var(--font-size-small);
}
#team main {
  padding-block: var(--proximity-in-medium);
}
#team main img {
  height: 150px;
  width: 130px;
  object-fit: cover;
  object-position: top;
}
#team main .content {
  font-size: var(--font-size-tiny);
  padding-top: var(--proximity-out-small);
}
#team main .content .contacts {
  height: fit-content;
  width: fit-content;
  color: hsl(var(--card-mid-ground));
}
#team main .content .email span {
  font-size: var(--font-size-tiny);
}
#team main .content .phone span {
  font-size: var(--font-size-tiny);
}
#team main .content span.icon {
  font-size: var(--font-size-small);
}
#team main .content .linkedin {
  width: 20px;
}
@media (width > 450px) {
  #team .teamBox .member.v2 main {
    flex-direction: row;
  }
}
